.page {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
}

.page span {
  margin-left: 2rem;
  color: grey;
}

.page article {
  margin: 2rem 0;
}

.page div {
  height: 15rem;
}
